<!DOCTYPE html>
<html>
   <head>
    <title>
        {{title}}
    </title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
</head>
    <body>
        {{>header}}
        <h1>
            Welcome: {{name}}
        </h1>
    </body>
    {{>footer}}
</html>