<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <form>
        <label>
            Mail
        </label>
        <input type="mail" name="mail" placeholder="mail" required>
        <label>
            Password
        </label>
        <input type="password" name="password" placeholder="password" required>
        <button>
            Login
        </button>
    </form>
</body>
{{>footer}}
<script src="js/login.js"></script>

</html>