<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initical-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{title}}
    </title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <div id="reportsMsgs">
        <div>
            Reports:
        </div>

    </div>
</body>
 {{>footer}}
<script src="js/reports.js"></script>


</html>