<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <form>
        <input id="fname" type="text" name="first_name" placeholder="First Name" required>
        <input id="lname" type="text" name="last_name" placeholder="Last Name" required>
        <input id="password" type="password" name="password" placeholder="password" required>
        <input id="phone" type="number" name="phone" placeholder="Phone number" required>
        <input id="email" type="email" name="email" placeholder="eMail" required>
        <button type="submit">Submit</button> 
    </form>
</body>
{{>footer}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/register.js"></script>

</html>