<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initical-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{title}}
    </title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
    <script src="assets/p5.min.js"></script>
    <script src="assets/ml5.min.js"></script>
</head>

<body>
    {{>header}}
    <div id="msg">

    </div>
    <canvas id="canvas" width="640" height="480"></canvas>
    <video id="video" width="640" height="480" autoplay style="display: none"></video>
</body>
{{>footer}}

<script src="js/streamer.js"></script>

</html>